<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위 코드가 mapper 설정을 하는 코드 -->
<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="com.teamride.messenger.server.mapper.ChatMapper">
	<select id="getAllMessageWithRoomId" resultType="ChatMessageDTO">
		SELECT room_id,
		writer, message, timestamp, name as writer_name FROM C_MESSAGE m join
		USER
		u on u.id = m.writer where m.room_id=#{room_id}
	</select>
	
	<select id="findRoomById" resultType="ChatRoomDTO">
		SELECT msg.room_id
		    , msg.message
		    , msg.timestamp
		    , room.room_name
		    , mem.cnt
		FROM (
		    SELECT  room_id, message, timestamp 
		    FROM C_MESSAGE
		    WHERE room_id = #{roomId}
		    ORDER BY timestamp DESC
		    LIMIT 1) msg
		JOIN C_ROOM room
		    ON msg.room_id = room.room_id
		JOIN (
		    SELECT room_id, COUNT(id) AS cnt
		    FROM C_ROOM_MEMBER
		    GROUP BY room_id
		    ) mem
		    on msg.room_id = mem.room_id
	</select>
	
	<insert id="insertRoom">
		INSERT INTO C_ROOM(room_id, room_name, is_group)
		VALUES (#{roomId}, #{roomName}, #{isGroup})
	</insert>
	<select id="getAllRoomWithUserId" resultType="ChatRoomDTO">
		WITH MSG AS (
		SELECT
			MSG.room_id
			, MSG.message
			, T.timestamp
		FROM C_MESSAGE MSG
		JOIN (
			SELECT
				room_id
				, MAX(timestamp) TIMESTAMP
			FROM C_MESSAGE
			GROUP BY room_id
			) T
		ON MSG.ROOM_ID = T.ROOM_ID
		AND MSG.TIMESTAMP = T.timestamp
		)
		SELECT MSG.ROOM_ID
			, MSG.MESSAGE
			, MSG.timestamp
			, RNM.ROOM_NAME
			, CNT.CNT
		FROM MSG
		JOIN (
		      SELECT
		        CRM.ROOM_ID
		       , R.room_name
		      FROM C_ROOM R
		      JOIN C_ROOM_MEMBER CRM
		          ON R.ROOM_ID = CRM.ROOM_ID
		          AND CRM.ID = #{userId} <!-- 파라미터부분 -->
		) RNM
		ON MSG.ROOM_ID = RNM.ROOM_ID
		JOIN (
			SELECT ROOM_ID
				, COUNT(ID) CNT
			FROM C_ROOM_MEMBER
			GROUP BY ROOM_ID
		) CNT
		ON CNT.ROOM_ID = MSG.ROOM_ID
	</select>

	<insert id="insertRoomMember" parameterType="ChatRoomDTO">
		INSERT INTO C_ROOM_MEMBER(room_id, ID)
		VALUES
		<foreach collection="userId" item="id" separator=",">
			(#{roomId}, #{id})
		</foreach>
	</insert>

	<insert id="insertMessage">
		INSERT INTO C_MESSAGE (ROOM_ID, WRITER, MESSAGE, TIMESTAMP)
		VALUES (#{roomId}, #{writer}, #{message}, current_timestamp(6))
	</insert>
</mapper>