<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위 코드가 mapper 설정을 하는 코드 -->

<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper
	namespace="com.teamride.messenger.server.mapper.UserMapper">
	<select id="getAll" resultType="UserDTO">
		select * from USER
	</select>

	<select id="checkExistUser" resultType="Integer">
		select count(*) from
		USER
		where email = #{email}
	</select>

	<insert id="saveUser">
		INSERT INTO messenger.`USER`
		(email, name, pwd, profile_path, profile_img, profile_original_img)
		VALUES
		(#{email}, #{name}, #{pwd}, #{profilePath}, #{profileImg}, #{profileOriginalImg})
	</insert>

	<select id="getUserInfo" resultType="UserDTO">
		select
		*
		from
		USER
		where
		email =
		#{email} and pwd = #{pwd}
	</select>
	
	<select id="getUserInfoWithSocial" resultType="UserDTO">
		select
		*
		from
		USER
		where
		email =
		#{email}
	</select>

	<select id="getFriendList" resultType="FriendInfoDTO">
		SELECT F.FRIEND_ID
			, U.NAME
			, U.EMAIL
			, IFNULL(U.PROFILE_PATH, '') PROFILE_IMG
			, IFNULL(ROOM.ROOM_ID, '') ROOM_ID
		FROM FRIEND F
		JOIN USER U
		ON F.FRIEND_ID = U.ID
		LEFT JOIN (
			SELECT MEM.ROOM_ID
				, CR.ROOM_NAME
				, CR.IS_GROUP
				, CRM.ID
			FROM C_ROOM_MEMBER MEM
			JOIN C_ROOM CR
				ON MEM.ROOM_ID = CR.ROOM_ID
			JOIN C_ROOM_MEMBER CRM
				ON MEM.ROOM_ID = CRM.ROOM_ID
			WHERE MEM.ID = #{userId}
				AND CRM.ID <![CDATA[<>]]> #{userId}
				AND CR.IS_GROUP = 'N'
			) ROOM
		ON U.ID = ROOM.ID
		WHERE F.USER_ID = #{userId}
	</select>

	<select id="searchUser" resultType="UserDTO">
		SELECT 
			u.id
			, u.email 
			, u.name 
			, u.profile_path 
			, profile_img
		FROM 
			`USER` u
		WHERE 
			u.email = #{searchKey}
			OR u.name = #{searchKey};
	</select>

	<insert id="addFriend">
		INSERT INTO FRIEND
			(user_id, friend_id)
		VALUES
			(#{userId}, #{friendId})
	</insert>
</mapper>